<% include ../layouts/doctype.ejs %>


<div id="accordion">


    <div class="card card-default">
        <div class="card-header">
            <h4 class="card-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <i class="glyphicon glyphicon-search text-gold"></i>
                    <b>Ajouter un visuel</b>
                </a>
            </h4>
        </div>
        <div id="collapse1" class="collapse show">
            <div class="card-body">
                <form id="signup-form" data-parsley-validate class="mt-5" role="form"
                    action="/visuels/update/<%=visuel.id %>" method="POST">
                    <div class="row">
                        <div class="col-md-3 col-lg-4">
                            <div class="form-group">
                                <label class="control-label">Intitulé du visuel</label>
                                <input type="text" name="nom_visuel" class="form-control"
                                    value="<%=visuel.nom_visuel %>" />
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3 col-lg-4">
                        <div class="form-group">
                            <label class="control-label" for="image_visuel">Image</label>
                            <input type="file" name="image_visuel" id="image_visuel" class="form-control"
                                required />
                        </div>
                    </div>
                    <div class="mt-5">
                        <button id="signup-submit-btn" class="btn btn-sm btn-info col">
                            Ajouter un visuel </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<% include ../layouts/doctype_end.ejs %>