<% include ./layouts/doctype.ejs %>



<header id="home">
    <div class="overlay"></div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#home">
                <img src="https://www.antennereunionpublicite.re/lekub/wp-content/uploads/2019/08/Logo-Le-Kub_150x150.png"
                    height="70" alt="image" style="padding-right: 8px;">
                KUB-DIGITALE
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars mfa-white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#overview">QUI SOMMES NOUS ? </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team"> NOS SERVICES </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="users/login">CONNECTEZ-VOUS</a>
                    </li>


                </ul>

            </div>

        </div>
    </nav>

    <div class="tophead">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 ">
                    <h1 class="title-main wow fadeInLeft" data-wow-duration="1.5s">Notre plateforme digitale</h1>
                    <h3 class="subtitle-main wow fadeInUp" data-wow-duration="1.1s">Créer votre compte gratuitement, vous pouvez créer et planifier votre campagne en quelques clics en toute autonomie. Commencer dès maintenant !</h3>
                    <div class="top-btn-block wow fadeInUp" data-wow-duration="2.5s">
                        <a href="/users" class="btn-explore ">Créer votre compte</a>
                        <a href="users/login" class="btn-account ">Connexion</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="sesgoabajo"></div>
</header>




    <section class="overview-wrap" id="overview">
        <div class="container">
            <div class="contenedor">
                <h2 class="title-overview wow fadeInUp">QUI SOMMES NOUS ?</h2>
                <div class="hr"></div>
                <p class="subtitle-overview wow fadeInUp">
                    ANTENNE SOLUTION BUSINESS est votre SOLUTION pour communiquer sur des supports TV et DIGITAUX.
                    Leader de son marché, la régie vous aidera dans différent domaine</p>
                <div class="row">
                    <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="overview-box mx-auto">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-eye fa-5x eye m-auto"></i>
                            </div>
                            <h5>Notoriété</h5>
                            <p class=" mb-0">Vous pouvez vous faire connaître auprès de PRÈS DE 50 % DE LA
                                POPULATION RÉUNIONNAISE
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="overview-box mx-auto">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-tv fa-5x tv m-auto"></i>
                            </div>
                            <h5>Diffusion TV</h5>
                            <p class=" mb-0">Vous pouvez diffuser votre bande-annonce pub sur notre chaîne TV locale
                                Antenne Réunion.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="overview-box mx-auto">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-laptop fa-5x laptop m-auto"></i>
                            </div>
                            <h5>Diffusion DIGITAL</h5>
                            <p class=" mb-0">Créer et diffuser votre campagne publicitaire sur l'ensemble de nos supports  (LINFO.re, AntenneReunion.fr, etc.)</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="overview-box mx-auto">
                            <div class="features-icons-icon d-flex">
                                <i class="fas fa-chart-bar fa-5x chart-bar m-auto"></i>
                            </div>
                            <h5>Avoir un suivit</h5>
                            <p class=" mb-0">L'équipe Antenne Solutions Business vous accompagne tout au long de votre processus de diffusion. Contactez-nous.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section class="our-team" id="team">
        <div class="container">
            <h2 class="title-our-team wow fadeInUp">NOS SERVICES</h2>
            <div class="hr"></div>
            <p class="subtitle-our-team wow fadeInUp">Crée votre compagne en quelque étapes, c'est simple et facile
            </p>

            <div class="row">
                <div class="col-lg-6">
                    <video width="500" height="300" controls muted>
                        <source
                            src="https://www.antennereunionpublicite.re/lekub/wp-content/uploads/2019/10/SPOT_KUB_Tuto-3_16102019.mp4"
                            type="video/mp4">
                    </video>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h3> Votre publicité diffusée,
                            selon votre budget.</h3>
                        <p> Avec Le KUB by Antenne Réunion, créez votre campagne dgital en seulement 4 étapes et maîtriser votre budget, </p>
                        <br>
                        <p> La publicité digitale n’a jamais été aussi simple ! Nos équipes s’engagent à vous aider dans les démarches et vous accompagnent dans vos premiers pas en publicité.</p>
                        <br><br>
                       
                                <a class="main-btn mt-25 m4" href="#">En savoir plus <i class="fas fa-arrow-right"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="about-section">
        <div class="container">
          <div class="row">
           <div class="col-lg-6">
            <div class="about-image clearfix">
              <div class="single-image float-left">
               <img src="https://freedom.fr/wp-content/uploads/2019/08/JT-plateau-avec-pre%CC%81sentateurs.jpg" alt="">
              </div> 
             <div class="single-image image-tow float-right">
            <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Ffreedom.fr%2Fwp-content%2Fuploads%2F2019%2F08%2FPhoto-de-famille-1.jpg&imgrefurl=https%3A%2F%2Ffreedom.fr%2Fantoine-hassler-devient-le-nouveau-visage-du-19h-sur-antenne-reunion%2F&tbnid=aop5X_gd7HoGsM&vet=12ahUKEwjc1sjG2qHpAhUHMRoKHf6CBCEQMyhHegUIARCrAQ..i&docid=SvHk-TPvr4UzYM&w=1000&h=565&q=antennereunion&ved=2ahUKEwjc1sjG2qHpAhUHMRoKHf6CBCEQMyhHegUIARCrAQ" alt="">
          </div> 
        </div> 
          </div>
            <div class="col-lg-6">
             <div class="about-content">
                <h3> Antenne Solutions Business, la régie plurimedia leader à l’île de la Réunion
                </h3>
                <p>Avec des marques médias fortes et leader sur le marché, Antenne Solutions Business est la régie cross-media de référence à la Réunion. La régie met à disposition des annonceurs et des agences une offre publicitaire unique sur le marché local combinant : TV, Internet et Mobile. </p>
                <br> 
               <p> Notre équipe d’experts vous accompagne au quotidien avec des offres en espace classique, de parrainage, des opérations spéciales et des offres ad-hoc sur mesure en réponse à vos besoins.

                Faîtes vivre vos marques grâce à la puissance des supports médias d’Antenne Solutions Business ! </p>
                <br><br>
              <a class="main-btn mt-25 m4" href="#">En savoir plus <i class="fas fa-arrow-right"></i></a>
            </div> 
           </div>
          </div> 
        </div> 
       </section>












<footer class="text-light py-5 mt-5" id=footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <h3>Kub-Digital</h3>
                <small class="d-block text-dark">© 2019-2020</small>
                <small class="text-dark">Version alpha by Océane.Tous droits réservés.</small>
            </div>

            <!--end of col-->
            <div class="col-12 col-md-9">

                <div class="row no-gutters">
                    <div class="col-3 col-lg-3">
                        <h5>Menu</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="text-dark">Accueil</a>
                            </li>
                            <li>
                                <a href="#" class="text-dark">Qui sommes nous ?</a>
                            </li>
                            <li>
                                <a href="#" class="text-dark"> Nos services</a>
                            </li>
                            <li>
                                <a href="#" class="text-dark">Inscription</a>
                            </li>
                            <li>
                                <a href="#" class="text-dark">Connexion</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2">

                    </div>
                    <!--end of col-->
                    <div class="col-6 col-lg-5">
                        <h5>Contact</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" class="text-dark">ANTENNE SOLUTIONS BUSINESS </a>
                            </li>
                            <li>
                                <a href="#" class="text-dark">TECHNOPOLE DE LA RÉUNION</a>
                                <a href="#" class="text-dark">2 rue Emile Hugot - 97490 Sainte-Clotilde</a>

                            </li>
                            <li>
                                <a href="regiepub@antennereunion.fr"
                                    class="text-dark">Mail:regiepub@antennereunion.fr
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!--end of col-->

                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
<!-- footer end -->





<script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
new WOW().init();
</script>
<script>
$(window).on("scroll", function () {
    if ($(this).scrollTop() > 10) {
        $("nav.navbar").addClass("mybg-dark");
        $("nav.navbar").addClass("navbar-shrink");

    } else {
        $("nav.navbar").removeClass("mybg-dark");
        $("nav.navbar").removeClass("navbar-shrink");

    }

});
</script>

</div>
</body>
</html>







