
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/profil.css"> 

</head>

<body>




    <div id="wrapper" class="animate">
        <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark" id="nav-profil">
          <span class="navbar-toggler-icon leftmenutrigger"></span>
          <a class="navbar-brand" href="#home">
            <img src="https://www.antennereunionpublicite.re/lekub/wp-content/uploads/2019/08/Logo-Le-Kub_150x150.png"
                height="70" alt="image" style="padding-right: 8px;">
            KUB-DIGITALE
        </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav animate side-nav">
         
            <li class="nav-item">
              <a class="nav-link text-light" href="/admin/visuels">Visuels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/admin/campagnes">Campagnes</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/utilisateurs">Utilisateurs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/sites">Sites</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/formats">Formats</a>
            </li>

            </ul>
            <ul class="navbar-nav ml-md-auto d-md-flex">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/users/admin"><i class="fas fa-1x fa-user-circle"></i> MON PROFIL</a>
                </li>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/users/logout">DÉCONNEXION <i class="fas fa-1x fa-sign-out-alt"></i></a>
                </li>
            </ul>
          </div>
        </nav>